*.nii
!icbm_avg_152_t1_tal_lin.nii
*.nii.gz
!mni_vascular_territories.nii.gz
!head1.nii.gz
*.mat
*.csv
*.json
*.stl
INUTILE
nifti
jspakoi
cava
online_angio
online_pas_angio
reg_avec_irm
reg_sans_irm
DICOM_003
dicoms_niftis
patate